<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="body-content">
        <%- include('../partials/header') %>
        <main>
            <section class="carrito-compras">
                

                <% if (typeof usersCart != 'undefined') { %>
                    <% if (usersCart != null) { %>
                     
                    
                    <div class="productos-carrito-div">
                        <h4 class="producto-listado">Producto/s</h4>
                        <h4 class="precio-unitario">Precio unitario</h4>
                        <h4 class="cantidad-listado">Cantidad</h4>
                        <h4 class="subtotal-listado">Subtotal</h4>
                    </div>
                    <% usersCart.item.forEach(product => { %>
                        <div class="productos-en-carrito">
                            <a class="motos-carrito" href="/products/<%= product.id %> "><h5 ><%= product.name %> </h5></a>
                            <h5 class="precio-numeros">$ <%= toThousand(product.final_price) %> </h5>
                            <div class="cantidad-carrito">
                                <h5 class="amount"><%= product.Cart_product.units %> </h5>
                                <div class="flechas-cantidad">
                                    <form action="/products/addOne/<%= product.id %> " method="post">
                                        <button type="submit" class="boton-flechas-cantidad"><i class="fas fa-chevron-up"></i></button>
                                    </form>
                                    <form action="/products/removeOne/<%= product.id %> " method="post">
                                        <button type="submit" class="boton-flechas-cantidad"><i class="fas fa-chevron-down"></i></button>
                                    </form>                                    
                                </div>
                            </div>
                            <h5 class="subtotal-numeros">$<%= toThousand(product.Cart_product.subtotal) %> </h5>
                        </div>
                    <% }) %>
                    <div class="total-carrito">
                        <h4 class="total-listado">Total</h4>
                        <h5 class="total-numero">$<%= toThousand(total) %> </h5>
                    </div>
                    <div class="boton-compra-div">
                        <form action="/products/buyCart" method="post">
                            <button type="submit" class="boton-compra"><strong>COMPRAR</strong></button>
                        </form>
                    </div>
                    <% } else { %>
                        <h3 class="carrito-vacio">No has agregado productos al carrito de compras</h3>  
                    <% } %>
                <% } else { %>
                       <h3 class="carrito-vacio">No has agregado productos al carrito de compras</h3>  
                <% } %>                
            </section>
        </main>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>