<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="body-content">
        <%- include('../partials/header') %>
        <main>
            <section class="product-details">
                <div class=background-fondo>
                    <div>
                        <div class=listas-caracteristicas>
                            <div class="moto-imagenes">
                                <div class="div-imagen-moto">
                                    <img class="imagen-moto" src="<%= product.image %> " alt="imagen-moto1">
                                </div>
                                <h4 class="titulo-colores">Colores</h4>
                                <div class="colores">
                                    <% filterByName.forEach(bike => { %>
                                        <a href="/products/<%= bike.id %> "><span class="dot" style="background-color: <%= bike.color %>;"></span></a>
                                    <% }) %>
                                </div>
                            </div>
                            <div class="acomodar">
                                <p>
                                    <p><strong>Marca:</strong> <%= product.brand %> </p>
                                    <p><strong>Modelo:</strong> <%= product.name %>  </p>
                                    <p><strong>Estado:</strong> <%= product.kms %> </p>  
                                    <p><strong>Descripción:</strong> <%= product.description %> </p>  
                                </p>
                                <div class="detalle-botones">
                                    <div class="detalle-botones-public">
                                        <div>
                                            <button type="button" class="boton-agregar"><strong>Comprar</strong></button>
                                        </div>
                                        <div>
                                            <button type="button" class="boton-agregarcarrito"><strong>Agregar al carrito</strong></button>
                                        </div>
                                    </div>
                                    <div class="detalle-botones-admin">
                                        <div>
                                            <a href="/products/edit/<%= product.id %> "><button type="button" class="boton-editar"><strong>Editar Producto</strong></button></a>
                                        </div>
                                        <div>
                                            <form method="POST" action="/products/delete/<%= product.id %>?_method=DELETE"  >
                                                <button type="submit" class="boton-editar"><strong>Eliminar Producto</strong></button>
                                            </form>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=sugerencias>
                    <h3 class="sugerencias">Sugerencias para vos</h3>
                </div>
                <div class="div-articulo">
                    <section class="section-pd">
                        <% productsFilter.forEach(product => { %>
                            <article class="article-home" >
                                <a href="/products/<%= product.id %> " class="product-detail"> 
                                    <div class="div-img1">
                                        <img class="img1" src= "<%= product.image %>"  alt= "<%= product.name %>"  >
                                    </div>
                                    <p class="p-home"> $<%= toThousand(product.price * (1 - product.discount/100)) %> <%= product.name %> 
                                                    <br>
                                        <%= product.year %>  | <%= product.kms %> . </p>
                                </a>
                            </article>
                        <% }) %>
                    </section>
                </div>        
            </section> 
        </main>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>