<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="body-content">
        <%- include('../partials/header') %>
        <main>
            <section class="product-details">
                <div class=background-fondo>
                    <div>
                        <div class=listas-caracteristicas>
                            <div class="moto-imagenes">
                                <div class="div-imagen-moto">
                                    <% for( let i = 0; i < productToShow.colors.length; i++ ) { %>
                                        <img class="imagen-moto" id="bike<%= i %>" src="/images/products/<%= productToShow.colors[i].Images.image %> " alt="imagen-moto1" 
                                        <% if (i!=0) { %>
                                            style= "display:none"
                                        <% } %>
                                        >
                                    <% } %>
                                </div>
                                <h4 class="titulo-colores">Colores</h4>
                                <div class="colores">
                                    <!-- Este for each recibe la búsqueda de los colores que tiene este producto, y crea los círculos con los colores.  -->
                                    
                                    <% for( let i = 0; i < productToShow.colors.length; i++ ) { %>
                                        <button class="dot" id="button<%= i%>" style= "background-color: <%= productToShow.colors[i].name %>"></button>
                                    <% } %>
                                    <% if (locals.user.category_id == 1) { %>
                                        <button onclick="document.getElementById('new-color-form').style.display='block'" class="dot" data-toggle="modal" data-target="#new-color-form">
                                            +
                                        </button>
                                    <% } %>
                                </div>
                            </div>
                            <div class="acomodar">
                                <p class="detail-info">
                                    <h2><strong><%= productToShow.name %></strong></h2>
                                    <div class="detail-info-content">
                                        <p class="detail-info-element"><strong>Año:</strong> <%= productToShow.year %> </p>
                                        <p class="detail-info-element"><strong>Marca:</strong> <%= productToShow.brand.name %> </p>
                                        <p class="detail-info-element"><strong>Categoría:</strong> <%= productToShow.categories.name %> </p>
                                    </div>
                                    <div class="detail-info-content">
                                        <% if (productToShow.discount == 0) { %>
                                            <p><strong>Precio:</strong> $<%= productToShow.final_price %></p>
                                        <% } else { %>
                                            <p><strong>Precio:</strong> <small class="precio-tachado">$<%= productToShow.base_price %> </small> $<%= productToShow.final_price %> <small class="product-discount"><%= productToShow.discount %>%</small></p>
                                        <% } %>
                                    </div>
                                    <p><strong>Descripción:</strong> <%= productToShow.description %> </p>  
                                </p>
                                <div class="detalle-botones">
                                    <div class="detalle-botones-public">
                                        <!-- <div>
                                            <form action="/products/buy" method="post">
                                                <button type="submit" class="boton-agregar"><strong>Comprar</strong></button>
                                            </form>
                                        </div> -->
                                        <div>
                                            <form action="/products/addToCart/<%= productToShow.id %>" method="get">
                                                <button type="submit" class="boton-agregarcarrito"><strong>Agregar al carrito</strong></button>
                                            </form>
                                        </div>
                                    </div>
                                    <% if (locals.user.category_id == 1) { %>
                                        <div class="detalle-botones-admin">
                                            <div>
                                                <a href="/products/edit/<%= productToShow.id %> "><button type="button" class="boton-editar"><strong>Editar Producto</strong></button></a>
                                            </div>
                                            <div>
                                                <form method="POST" action="/products/delete/<%= productToShow.id %>?_method=DELETE"  >
                                                    <button type="submit" class="boton-editar"><strong>Eliminar Producto</strong></button>
                                                </form>    
                                            </div>
                                        </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=sugerencias>
                    <h3 class="sugerencias">Sugerencias para vos</h3>
                </div>
                <div class="div-articulo">
                    <section class="section-pd">
                        <% productsInSale.forEach(product => { %>
                            <article class="article-home">
                                <a href="/products/<%= product.id %>" class="product-detail" > 
                                    <div class="div-img1">
                                        <img class="img1" src= "/images/products/<%= product.colors[0].Images.image %>"  alt= "<%= product.name %>"  >
                                    </div>
                                    <p class="p-home">  <%= product.name %><br>
                                        $<%= toThousand(product.final_price) %> - <%= product.year %></p>
                                </a>
                            </article>
                        <% }) %>
                    </section>
                </div>        
            </section> 


            <div id="new-color-form" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-titulo">Agregar un color para este producto</h3>
                        <span class="close" onclick="document.getElementById('new-color-form').style.display='none'">&times;</span>
                    </div>
                    <div class="modal-content-info">
                        <form action="/products/addColor/<%= productToShow.id %>/?_method=PUT" method="post"  enctype="multipart/form-data">
                            <div class="create-form-element">
                                <label for="image">Imagen</label>
                                <input type="file" name="image" id="image"  class="create-form-input" required>
                            </div>
                            <div class="create-form-element">
                                <label for="color">Color</label>
                                <select name="color" id="color" class="create-form-input" required>
                                    <% colors.forEach(color => { %>
                                        <option value="<%=color.id%>"><%=color.name%></option>
                                    <% }) %>
                                </select>
                            </div>
                            <button type="submit" class="boton-form"><strong>Agregar Color</strong></button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('../partials/footer') %>
    <script src="/js/detailImages.js"></script>
</body>

</html>