<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="body-content section1">
        <%- include('../partials/header') %>
        <section class="section1">
            <% if (typeof emptySearch != 'undefined') { %>
             <div>
                <p>No se encontraron resultados para <strong>"<%= searched %>"</strong></p>
                <a href="/">Volver al Inicio</a>
             </div>
                
            <% } %>
            <% if (typeof productsSearched != 'undefined') { %>
                <% productsSearched.forEach(product => { %>
                    <article class="article-home" >
                        <a href="/products/<%= product.product_id %> " class="product-detail"> 
                            <div class="div-img1">
                                <img class="img1" src= "/images/products/<%= product.colors[0].Images.image%>"  alt= "<%= product.name %>"  >
                            </div>
                            <p class="p-home">  <%= product.name %> <br>
                            $<%= toThousand(product.final_price) %> - <%= product.year %> </p>
                        </a>
                    </article>
                    
                <% }) %>
            <% } %>
                                
        </section>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>