<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <body>
        <div class="body-content">
            <%- include('partials/header') %>
            <div>
                <img class="div-imagen-home" src="/images/imagen-banner-homepage.jpg" alt="img-home">
            </div>



            <div class="div-ofertas">
                <h3>OFERTAS</h3> 
                        
            </div>


            <div class="div-articulos">
                <section class="section1">
                    <% productsInSale.forEach(product => { %>
                        <article class="article-home" >
                            <a href="/products/<%= product.id %> " class="product-detail"> 
                                <div class="div-img1">
                                    <img class="img1" src= "/images/products/<%= product.colors[0].Images.image %>"  alt= "<%= product.name %>"  >
                                </div>
                                <p class="p-home"> $<%= toThousand(product.final_price) %> <%= product.name %> 
                                                <br>
                                    <%= product.year %> </p>
                            </a>
                        </article>
                    <% }) %>                    
                </section>
            </div>  
        </div>
        <%- include('partials/footer') %>
    </body>
</html>