<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <div class="body-content">
        <%- include('../partials/header') %>
        <main class="profile">
            <div class="div-profile-image">
                <img class="profile-image" src="<%= locals.user.profile_image %> "
                    alt="<%= locals.user.first_name %> <%= locals.user.last_name %> ">
                <button class="boton-form" id="change-image-button">
                    <small>Cambiar imagen de perfil</small>
                </button>
            </div>
            <div class="profile-user-data">
                <h1>Perfil de <%= locals.user.first_name %> <%= locals.user.last_name %> </h1>
                <p>Nombre: <%= locals.user.first_name %> </p>
                <p>Apellido: <%= locals.user.last_name %> </p>
                <p>Email: <%= locals.user.email %> </p>
                <button class="boton-form" id="edit-user-button">
                    Editar datos de Usuario
                </button>
                <button class="boton-form" id="change-password-button">
                    Cambiar contrase単a
                </button>
                <% if (locals.user.category_id != 1) { %>
                <form action="/users/delete/<%= locals.user.id %> /?_method=DELETE" method="POST"
                    class="delete-user-form">
                    <button type="submit" class="boton-form" id="delete-user-button">
                        Eliminar Usuario
                    </button>
                </form>
                <script src="/js/deleteUser.js"></script>
                <% } %>
                <% if (locals.user.category_id == 1) { %>
                    <button type="submit" class="boton-form" id="dashboard-button">
                        <a href="http://localhost:3000/">Dashboard</a>
                    </button>
                <% } %>
            </div>


            <div id="profile-image-form" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-titulo">Editar foto de perfil</h3>
                        <span class="close" id="close-image">&times;</span>
                    </div>
                    <div class="modal-content-info">
                        <h3>Seleccionar la nueva imagen de perfil</h3>
                        <form action="/users/profileImage/?_method=PUT" method="POST" id="image-form" enctype="multipart/form-data">
                            <div class="create-form-element">
                                <input type="file" name="image" id="image" required accept="images/*">
                                <div class="create-validation-errors" id="image_error"></div>
                            </div>
                            <button type="submit" class="register-form-button">Subir imagen</button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="edit-user-form" class="modal" <% if (typeof errors != 'undefined') { %> style="display:block"
                <% } %>>
                <div class="modal-content">
                    <div class="edit-user-content">
                        <div class="modal-header">
                            <h3 class="modal-titulo">Editar datos de Usuario</h3>
                            <span class="close" id="close-edit">&times;</span>
                        </div>
                        <form class="edit-user-form" id="edit-user-form" action="/users/profile/<%= locals.user.id %> /?_method=PUT"
                            method="POST">
                            <div class="register-form-fields">
                                <div class="div-campo-datos">
                                    <label for="name">Nombre</label>
                                    <div class="campo-datos">
                                        <i class="fas fa-user"></i>
                                        <input type="text" name="first_name" id="first_name" class="campo-datos-type"
                                            value="<%= user.first_name %>">
                                    </div>
                                    <div class="create-validation-errors"  id="first-name-errors">
                                        <p>
                                            <% if (typeof errors != 'undefined') { %>
                                            <%=typeof errors.first_name != 'undefined' ?  errors.first_name.msg : ''%>
                                            <% } %>
                                        </p>
                                    </div>
                                </div>
                                <div class="div-campo-datos">
                                    <label for="name">Apellido</label>
                                    <div class="campo-datos">
                                        <i class="fas fa-user"></i>
                                        <input type="text" name="last_name" id="last_name" class="campo-datos-type"
                                            value="<%= user.last_name %>">
                                    </div>
                                    <div class="create-validation-errors" id="last-name-errors">
                                        <p>
                                            <% if (typeof errors != 'undefined') { %>
                                            <%=typeof errors.last_name != 'undefined' ?  errors.last_name.msg : ''%>
                                            <% } %>
                                        </p>
                                    </div>
                                </div>
                                <div class="div-campo-datos">
                                    <label for="email">E-mail</label>
                                    <div class="campo-datos">
                                        <i class="fas fa-envelope"></i>
                                        <input type="email" name="email" id="email" class="campo-datos-type"
                                            value="<%= user.email %>">
                                    </div>
                                    <div class="create-validation-errors" id="email-errors">
                                        <p>
                                            <% if (typeof errors != 'undefined') { %>
                                            <%=typeof errors.email != 'undefined' ?  errors.email.msg : ''%>
                                            <% } %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="register-form-button">Editar Datos</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="change-password-form" class="modal" <% if (typeof password_errors != 'undefined') { %>
                style="display:block" <% } %>>
                <div class="modal-content">
                    <div class="edit-user-content">
                        <div class="modal-header">
                            <h3 class="modal-titulo">Cambiar la contrase単a</h3>
                            <span class="close" id="close-password">&times;</span>
                        </div>
                        <form class="edit-user-form" id="password-form" action="/users/changepassword/?_method=PUT" method="POST">
                            <div class="register-form-fields">
                                <div class="div-campo-datos">
                                    <label for="password">Contrase単a</label>
                                    <div class="campo-datos">
                                        <i class="fas fa-lock"></i>
                                        <input type="password" name="password" id="password" class="campo-datos-type">
                                        <span class="viewPass"><i class="fas fa-eye"></i></span>
                                    </div>
                                    <div class="register-errors" id="password_error">
                                            <% if (typeof password_errors != 'undefined') { %>
                                            <%=typeof password_errors.password != 'undefined' ?  password_errors.password.msg : ''%>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="div-campo-datos">
                                    <label for="re-password">Repita la contrase単a</label>
                                    <div class="campo-datos">
                                        <i class="fas fa-lock"></i>
                                        <input type="password" name="re_password" id="re_password"
                                            class="campo-datos-type">
                                            <span class="viewRePass"><i class="fas fa-eye"></i></span>
                                    </div>
                                    <div class="register-errors" id="re_password_error">
                                            <% if (typeof password_errors != 'undefined') { %>
                                            <%=typeof password_errors.re_password != 'undefined' ?  password_errors.re_password.msg : ''%>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="register-form-button">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('../partials/footer') %>
    <script src="/js/profile.js"></script>
    <script src="/js/viewPass.js"></script>
</body>

</html>